
body {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;

  height: unset !important;
  width: 100% !important;
  min-height: unset !important;

  position: absolute !important;

  inset: 0;
  bottom: 0 !important;
}

#statusHelper > div {
  margin-right: 4px;
  font-size: 16px;
}

#statusHelper > span {
  margin-right: 4px;
}
