

/* html {
  height: unset !important;
} */

/* body, #app {
  margin-bottom: 40px !important;
  margin-top: 40px !important;
  padding-bottom: 40px !important;
  padding-top: 40px !important;
  height: 90%;
} */
body {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;

  height: unset !important;
  width: 100% !important;
  min-height: unset !important;

  /* border: 1px solid green; */

  position: absolute !important;

  inset: 0;
  bottom: 0 !important;
}

/* #app {
  bottom: 40px !important;
} */

#statusHelper > div {
  margin-right: 4px;
  font-size: 16px;
}
#statusHelper > span {
  margin-right: 4px;
}
